$accent-color: #e74c3c;
$cool-text-color: #2c3e50; // A deep blue color for text
$fancy-text-color: #c0392b; // A fancy red color for text

$cell-size: 2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.App {
  min-height: 100vh;

  .cursor {
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    text-transform: capitalize;
  }

  header {
    display: flex;
    justify-content: center;

    .who-won {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding: 2rem;

    .board {
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      padding: 3px;
      margin: 0 2rem;

      .row {
        display: flex;

        .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(255, 0, 0, 0.5);
          width: 3rem;
          height: 3rem;
          transition: all 100ms ease;

          &:hover {
            background-color: rgb(38, 70, 38);
          }

          .disk {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $cell-size;
            height: $cell-size;
            border-radius: 50%;

            .icon {
              font-size: $cell-size;
            }
          }

          .disk-A {
            color: white;

            .icon {
              color: white;
            }
          }

          .disk-B {
            color: red;

            .icon {
              color: red;
            }
          }
        }
      }
    }

    .player-house {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding: 3px;
      min-width: 180px;
      max-width: 180px;
      border: 1px solid white;

      .frame {
        width: 100%;
        padding: 1rem;
        background-color: cornsilk;

        h2 {
          display: flex;
          //justify-content: space-between;
          align-items: center;
          margin: 5px;
          font-size: 18px;
          color: $fancy-text-color;
          min-width: 100%;
          text-transform: capitalize;

          .icon {
            background-color: gray;
            color: white;
            border-radius: 50%;
            padding: 3px;
            font-size: 2rem;
            margin-left: auto;
            margin-right: 0;
          }
        }

        h3 {
          width: 100%;
          margin: 5px;
          font-size: 1.5rem;
          color: $fancy-text-color;
        }

        .settings-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
          width: 100%;

          .name-input {
            padding: 0.5rem;
            width: 6rem;
            border: 1px solid skyblue;
            color: $cool-text-color;
            background-color: rgb(250, 243, 215);
            transition: all 350ms ease-in-out;

            &:focus {
              outline: none;
              border-color: darken($accent-color, 10%);
            }
          }

          .icon {
            font-size: 1.5rem;
            color: $accent-color;
            cursor: pointer;
            transition: opacity 350ms ease-in-out;
            min-width: 1.5rem;

            &:hover {
              color: darken($accent-color, 10%);
            }
          }

          .done-icon {
            margin-left: -45px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;

    .reset-btn {
      font-size: 1.5rem;
      box-shadow: none;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      background-color: cornsilk;
      margin: 0 auto;

      &:hover {
        background-color: yellow;
      }
    }
  }
}