* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.App {
  min-height: 100vh;
}
.App .cursor {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
}
.App header {
  display: flex;
  justify-content: center;
}
.App header .who-won {
  padding: 1rem;
  font-size: 1.5rem;
}
.App main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.App main .board {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 3px;
  margin: 0 2rem;
}
.App main .board .row {
  display: flex;
}
.App main .board .row .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 0, 0, 0.5);
  width: 3rem;
  height: 3rem;
  transition: all 100ms ease;
}
.App main .board .row .cell:hover {
  background-color: rgb(38, 70, 38);
}
.App main .board .row .cell .disk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.App main .board .row .cell .disk .icon {
  font-size: 2rem;
}
.App main .board .row .cell .disk-A {
  color: white;
}
.App main .board .row .cell .disk-A .icon {
  color: white;
}
.App main .board .row .cell .disk-B {
  color: red;
}
.App main .board .row .cell .disk-B .icon {
  color: red;
}
.App main .player-house {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  min-width: 180px;
  max-width: 180px;
  border: 1px solid white;
}
.App main .player-house .frame {
  width: 100%;
  padding: 1rem;
  background-color: cornsilk;
}
.App main .player-house .frame h2 {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 18px;
  color: #c0392b;
  min-width: 100%;
  text-transform: capitalize;
}
.App main .player-house .frame h2 .icon {
  background-color: gray;
  color: white;
  border-radius: 50%;
  padding: 3px;
  font-size: 2rem;
  margin-left: auto;
  margin-right: 0;
}
.App main .player-house .frame h3 {
  width: 100%;
  margin: 5px;
  font-size: 1.5rem;
  color: #c0392b;
}
.App main .player-house .frame .settings-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
.App main .player-house .frame .settings-box .name-input {
  padding: 0.5rem;
  width: 6rem;
  border: 1px solid skyblue;
  color: #2c3e50;
  background-color: rgb(250, 243, 215);
  transition: all 350ms ease-in-out;
}
.App main .player-house .frame .settings-box .name-input:focus {
  outline: none;
  border-color: #d62c1a;
}
.App main .player-house .frame .settings-box .icon {
  font-size: 1.5rem;
  color: #e74c3c;
  cursor: pointer;
  transition: opacity 350ms ease-in-out;
  min-width: 1.5rem;
}
.App main .player-house .frame .settings-box .icon:hover {
  color: #d62c1a;
}
.App main .player-house .frame .settings-box .done-icon {
  margin-left: -45px;
}
.App footer {
  display: flex;
  flex-direction: column;
}
.App footer .reset-btn {
  font-size: 1.5rem;
  box-shadow: none;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: cornsilk;
  margin: 0 auto;
}
.App footer .reset-btn:hover {
  background-color: yellow;
}/*# sourceMappingURL=App.css.map */