$primary-color: #f9f9f9;
$secondary-color: #3498db; // A cool blue color
$accent-color: #e74c3c;
$cool-text-color: #2c3e50; // A deep blue color for text
$fancy-text-color: #c0392b; // A fancy red color for text
$heading-font: 'Helvetica', sans-serif;
$body-font: 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.App {
  min-height: 100vh;

  .cursor {
    //width: 10px;
    //height: 10px;
    //border-radius: 50%;
    //border: 2px solid white;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
  }

  header {
    display: flex;
    justify-content: center;

    .who-won {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding: 2rem;

    .board {
      display: flex;
      flex-direction: column;
      border: 1px solid gray;
      padding: 3px;
      margin: 0 2rem;

      .row {
        display: flex;

        .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(255, 0, 0, 0.5);
          width: 3rem;
          height: 3rem;

          &:hover {
            background-color: rgb(38, 70, 38);
          }

          .disk {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            .icon {
              font-size: 2rem;
            }
          }

          .disk-A {
            color: yellow;

            .icon {
              color: white;
            }
          }

          .disk-B {
            color: red;

            .icon {
              color: red;
            }
          }
        }
      }
    }

    .player-house {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding: 3px;
      min-width: 180px;
      border: 1px solid white;

      .frame {
        width: 100%;
        padding: 1rem;
        background-color: cornsilk;

        h2 {
          margin: 5px;
          font-size: 18px;
          color: $fancy-text-color;
          font-family: $heading-font;
        }

        h3 {
          width: 100%;
          margin: 5px;
          font-size: 16px;
          color: $fancy-text-color;
        }

        .icon-box {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .icon {
            font-size: 1.5rem;
            color: $accent-color;
            margin-left: 1rem;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: darken($accent-color, 10%);
            }
          }
        }

        .settings-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
          width: 100%;
          transition: opacity 350ms ease-in-out;

          .name-input {
            padding: 0.5rem;
            width: 6rem;
            border: 1px solid skyblue;
            color: $cool-text-color;
            background-color: rgb(250, 243, 215);
            transition: border-color 0.3s ease;

            &:focus {
              outline: none;
              border-color: darken($accent-color, 10%);
            }
          }

          .icon {
            font-size: 1.8rem;
            color: $secondary-color;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: darken($secondary-color, 10%);
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;

    .reset-btn {
      font-size: 1.5rem;
      box-shadow: none;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      background-color: cornsilk;
      margin: 0 auto;

      &:hover {
        background-color: yellow;
      }
    }
  }
}